/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
    font-size: 25px;
    margin: 15px 0;
}

/* Your code starts here! */
/* Set every element's box-sizing to border-box */
* {
  box-sizing: content-box;
  width:900px;
}

.header{
  width: 100%;
  height: 10%;
  display: inline-block;
}
.nav{
  color: gray;
  font-size: 20px;
  padding: 40px 50px 10px 50px;
  width: 500px;
  margin: 1px 0px;
}
.nav a{
  color: black;
  margin: 0px 15px;
  text-decoration: none;
}
img.logo{
  width: 20%;
  height: 50px;
}

.title{
  display: inline-block;
  vertical-align: top;
  height: 40%;
  width: 95%;
  margin: 0px 50px;
}
.title h1{
  width: 25%;
  font-size: 75px;
  text-align: center;
  padding: 0px 75px;
  margin: 50px 0px;
}
.title button{
  font-size: 20px;
  width: 200px;
  height: 40px;
}
.titleimg{
  width: 300px;
  height: 300px;
  margin: 50px 0;
}
.information{
  border-top: black 1px solid;
  height: 200px;
  width: 95%;
  display: inline-block;
  padding: 50px 25px;
  margin-left: 50px;
}
.information p{
  width: 45%;
  height: 100px;
}
.infoimg{
  margin: 0 50px;
  width: 95%;
}
.information2{
  border-bottom: black 1px solid;
  display: inline-block;
  padding: 50px 25px;
  margin: 0px 50px;
}
.information2 p{
  width: 30%;
  height: 100px;
}
.footer h2{
  margin: 50px 0px 10px 50px;
}
address{
  margin: 0px 50px;
  width: 20%;
  letter-spacing: 2;
}
.copyright{
  margin: 50px 0px 100px 500px;
}